@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  header{
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 700px;
    background-color: rgb(26, 25, 21);;
    margin-bottom: 72px;
  }

  .main-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 68px;
    margin-bottom: 146px;
  }

  .site-logo {
    margin-top: 46px;
  }

  .user-home-list button {
    margin-top: 46px;
    margin-bottom: 0;
  }

  .header-section-title {
    font-size: 52px;
    width: 504px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .header-section-text {
    font-size: 24px;
    width: 768px;
    margin-bottom: 37px;
  }

  .find-button {
    width: 226px;
  }

  .partners-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 492px;
    height: 506px;
    align-items: flex-start;
    margin: 0 auto;
  }

  .section-pertners-title {
    margin-bottom: 32px;
  }

  .partners-list li:nth-child(odd) {
    margin-bottom: 60px;
  }

  .partners-list-item-description {
    margin: 0;
  }

  .section-pertners-button {
    margin: 40px 0;
    width: 192px;
  }
}

@media (min-width: 1200px) {
  
  .container {
    width: 1440px;
  }

  header{
    background-image: url("../img/background3.png");
    margin-bottom: 68px;
  }

  .main-nav {
    margin-left: 246px;
    margin-right: 268px;
    margin-bottom: 154px;
  }

  .section-pertners-title {
    margin-bottom: 36px;
  }

  .partners-list {
    flex-direction: row;
    width: 940px;
    height: 238px;
  }

  .partners-list li:nth-child(odd) {
    margin-bottom: 38px;
  }

  .partners-list li:nth-child(even) {
    margin-bottom: 38px;
  }

  .partners-list li:nth-child(3) {
    order: -1;
  }

  .partners-list li:first-child {
    order: -2;
  }

  .section-pertners-button {
    margin-bottom: 74px;
 
  }

}